.feedItem {
    padding: 10px;
}

.feedItem .textField {
    margin: 5px;
}

.feedItem .header-right {
    text-align: right;
}

.feedItem .header-left {
    float: left;
}

.feedItem .uncollapsed-footer {
    text-align: right;
}

.feedItem .collapsed {
    text-align: center;
}

.feedItem .collapsed-footer {
    text-align: center;
}

.feedItem .uncollapsed-footer .footer-left,
.feedItem .collapsed-footer .footer-left {
    color: teal;
}

.feedItem .uncollapsed-footer .footer-right,
.feedItem .collapsed-footer .footer-right {
    color: orangered;
}